

.menu_box {
    width: 500px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    top: -50vh;

    z-index: 99999;
    display: flex;
    transition: all ease-out 2s;
    
}


.menu_box::before {
    content: "";

    background-color: rgba(93, 93, 248, 0.168);
    width: 700px;
    height: 300px;
    position: absolute;
    left: -100px;
    top: -100px;
    z-index: 0;

}

.btn {
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 130px;
    font-size: 42px;
    font-weight: 100;
    width: 70%;
    height: 30%;
    margin-bottom: 30px;
    background-color: rgba(240, 248, 255, 1);
    border: 0;
    z-index: 22;
    transition: all ease-in-out 0.3s;



}

#play {
    padding-left: 45px
}

.btn:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.4);
    transition: all 1s;
    background-color: rgba(123, 123, 251, 0.688);
}


.login_box {
    width: 500px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.664);
    top: -20vh;
    display: flex;
    flex-direction: column;
    z-index: 999999;
    transition: all ease-in-out 2s;

}

.login_box h2, .login_box input {
    margin-top: 40px;
    font-size: 2em;
    font-weight: 100;
}

.login_box input {
    width: 80%;
    height: 50px;
    text-align: center;


}




.btn_save {
    
    padding-left: 25px;
    font-size: 24px;

    width: 20%;
    height: 15%;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: rgba(240, 248, 255, 0.684);
    border: 0;
}


#ingame_menu {
    width: 50px;
    height: 30px;
    background-image: url("../img/setting-tool.png");
    background-size:contain ;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;

    position: absolute;
    top: 5vh;
    left: 5vw;
    z-index: 999999;

}

#ingame_menu:hover {
    cursor: pointer;
    transform: scale(1.2) ;
}