* {
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

:root {
    --width: 1200px;
    --worldSize: 5000px;
    --shipW: 80px;
    --shipH: 80px;
    --spaceBoxSize: 1250px;
}


body {
    font-family: 'Inter Tight', sans-serif;
    width: 100vw;
    background-color: rgb(11, 18, 56);
}

body, #mainFrame {
    overflow: hidden;
    height: 100vh;
    margin: 0 auto;
}

#mainFrame {
    width: var(--width);
    display: block;
}

#gameWorld {
    width: var(--worldSize);
    height: var(--worldSize);
    background-size: contain;
    position: absolute;
    top: -1px;
    left: -1px;
    transition: all 0.01s ease 0s;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}

.space_box {
    width: var(--spaceBoxSize);
    height: var(--spaceBoxSize);

}

/*Grid elements for background styles*/
.box_1 {
    background-image: url("../../img/space_back_1-01.png");
}

.box_2 {
    background-image: url("../../img/space_back_2-01.png");
}

.box_3 {
    background-image: url("../../img/space_back_3-01.png");
}

.box_4 {
    background-image: url("../../img/space_back_4-01.png");
}

.box_5 {
    background-image: url("../../img/space_back_5-01.png");
}

.box_6 {
    background-image: url("../../img/space_back_6-01.png");
}

.box_7 {
    background-image: url("../../img/space_back_7-01.png");
}

.box_8 {
    background-image: url("../../img/space_back_8-01.png");
}

.box_9 {
    background-image: url("../../img/space_back_9-01.png");
}

.box_10 {
    background-image: url("../../img/space_back_10-01.png");
}

.box_11 {
    background-image: url("../../img/space_back_11-01.png");
}

.box_12 {
    background-image: url("../../img/space_back_12-01.png");
}

.box_13 {
    background-image: url("../../img/space_back_13-01.png");
}

.box_14 {
    background-image: url("../../img/space_back_14-01.png");
}

.box_15 {
    background-image: url("../../img/space_back_15-01.png");
}

.box_16 {
    background-image: url("../../img/space_back_16-01.png");
}



/*Asteroids styles*/
#asteroids_box {
    z-index: 99999;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 5000px;
    height: 100%;
}


.asteroid {
    height: 50px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 0.01s ease 0s; 
}

/*Enemies tyles*/
#enemies_box {
    z-index: 99999;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 5000px;
    height: 100%;
}

.enemies {
    height: 80px;
    width: 80px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    transition: all 10s ease ; 
    background-image: url("../../img/enemy.png");
}




/*In game menu elements*/
#ingame_score {
    position: absolute;
    font-size: 21px;
    color: white;
    z-index: 999999;
    top: 5vh;
    left: 15vw;
}


#pause_menu, #gameOver {
    justify-content: space-between;
    position: fixed;
    display: none;
    top: 35vh;
    width: 75vw;
    left: 12.5vw;
    height: 100px;
    margin: 0 auto;
    z-index:9999999;
}


#pause_menu button, #gameOver button {
    border: 0;
    color: white;
    background-color: rgb(76, 98, 237);
    font-size: 18px;
    font-weight: bolder;
    width: 35%;
    height: 80px;
    transition: all 0.4s ease;
}

#pause_menu button:hover, #gameOver button:hover {
    transform: scale(1.9);
    background-color: rgba(130, 80, 255, 0.6);
    color:white;
    cursor: pointer;
}

#pause_menu::after, #gameOver::after {
    content: "";
    position: absolute;
    top: -35vh;
    left: -12.5vw;
    width: 100vw;
    height: 100vh;
    background-color: rgba(11, 19, 70, 0.6);
    z-index: -1;
}

#gameOver h1 {
    color: rgb(246, 160, 160);
    font-size: 80px;
}