
.menu_box {
    width: 500px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    top: -50vh;
    z-index: 99999;
    display: flex;
    transition: all 2s ease-out 0s ;


}


.menu_box::before {
    content: "";
    background-color: rgba(93, 93, 248, 0.168);
    width: 700px;
    height: 300px;
    position: absolute;
    left: -100px;
    top: -100px;
    z-index: 0;
}

.btn {
    font-size: 42px;
    font-weight: 100;
    width: 70%;
    height: 30%;
    background-color: rgba(240, 248, 255, 1);
    border: 0;
    z-index: 22;
    transition: all ease-in-out 0.3s;
}


#play a, #score a {
    color: black;
    width: 70%;
    height: 90px;
    padding-right: 170px;
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
 
}

#play a:hover , #score a:hover{
    color: white;
}

#score a  {
    text-align: right;
}

.btn:hover {
    cursor: pointer;
    color: white;
    transform: scale(1.4);
    transition: all 1s;
    background-color: rgba(123, 123, 251, 0.688);
}


#ingame_menu {
    width: 50px;
    height: 30px;
    background-image: url("../../img/setting-tool.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    position: absolute;
    top: 5vh;
    left: 5vw;
    z-index: 999999;

}

#ingame_menu:hover {
    cursor: pointer;
    transform: scale(1.2);

}

