* {
    -webkit-font-smoothing: antialiased;
}

:root {
    --purple: rgba(123, 123, 251, 0.688);
}


body {
    background-image: url("../../img/intro_back-01.png");
    background-size: cover;
    width: 100vw;
    height: max-content;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
    background-color: black;
    overflow: hidden;
}


body, 
.login_box, 
.login_box h2,
.login_box input, 
.btn_save,.message, 
.new_account_btn,
.new_account_btn a {
    margin: 0 auto;
}

.login_box span, 
.new_account_btn, 
.new_account_btn a, 
.messages, 
.login_box input, 
.login_box h2 {
    font-size: 18px;
}

.login_box,  
.login_box span, 
.btn_save:hover,
.new_account_btn:hover, 
.new_account_btn a:hover {
    color: white;
}

.new_account_btn:hover, 
.new_account_btn a:hover,
.btn_save:hover {
    cursor: pointer;
}
 

.login_box {
    width: 600px;
    top: -20vh;
    height: max-content;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 2s;
    background-color: rgba(57, 31, 151, 0.9);
    z-index: 9999999;

}

.login_box h2,
.login_box input {
    margin-top: 35px;
    font-weight: 100;
}

.login_box input {
    width: 80%;
    height: 40px;
    text-align: center;
}

.btn_save {
    align-items: center;
    font-size: 24px;
    width: 200px;
    height: 60px;
    margin-top: 20px;
    background-color: var(--purple);
    border: 0;
}


.btn_save:hover {
    transform: scale(1.4);
    transition: all 1s;
    background-color: var(--purple);
}

.message {
    color: rgb(12, 172, 3);
    margin-top: 10px;
    margin-bottom: 25px;

}

.new_account_btn, .new_account_btn a {
    width: max-content;
    margin-top: 30px;
    color: rgb(166, 166, 166);
}


.login_box span {
    padding: 0;
    position: relative;
    top: -75px;
    margin-left: 57px;
    width: max-content;
}



#gender_input {
    width: 20%;
    margin: 0 auto;
}

#gender_span {
    top: -3px;
    left: -33px;
    margin: 0 auto;
}